// components/header/header.pug

// подключаем миксин
// вызов миксина выглядит как +[имя_микисна](параметры)
include ../menu__list/menu__list.pug

header
  .header
    p LOGO
    p TOXIN
    +menu__list('header__list','Home', 'About Us', 'Services >', 'Careers', 'News', 'Documentation')