// components/footer/footer.pug
footer
  .footer
    p LOGO
    p TOXIN
    p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
    ul.footer__list
      each val in ['Navigation', 'About Us', 'News', 'Support', 'Products']
        li= val
    ul.footer__list2
      each val in ['ABOUT US', 'Who we are', 'Our team', 'Careers', 'Investors']
        li= val
    ul.footer__list3
      each val in ['Support', 'Documentation', 'Community', 'Get in Touch']
        li= val
    p Subscribe to our newsletter
    p Receive our latest news and promotions in your inbox!
    p Email form ;)